@media (max-width: 320px) {
    .blog_navigation
{
    display: none;
      height: auto;
      position: absolute;
      z-index: 1;
      width: 100%;
}
.blog_navigation ul
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.blog_navigation nav {
    text-align: center;
  }

.blog_navigation ul li 
{
    list-style: none;
        padding: 20px 15px;
        font-size: 30px;
        cursor: pointer;
}

.blog_navigation ul li a
{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
#blog_active{
    color: green;
    text-decoration: underline;
}
#blog_active:hover{
    color: white;
}
.blog_navigation ul li a:hover
{
    color: white;
    background-color: black;
    font-size: 30px;
    cursor: pointer;
    font-style: italic;
}

#hamburger {
    display: block;
    width: 100%;
    height: 50px;
  }

#ham, #cross{
    width: 60px;
    height: 60px;
    background-color: white;
    mix-blend-mode: multiply;
    margin-left: 0;
}
#cross {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 2px;
  margin-left: 270px;
}

.blogContainer
{
    
    /* background-image: url("https://st2.depositphotos.com/4107269/7705/i/600/depositphotos_77053627-stock-photo-journalist-working-on-his-new.jpg"); */
    /* background-image: url("https://thumbs.dreamstime.com/b/blog-information-website-concept-workplace-background-text-view-above-127465079.jpg"); */
background-image: url("https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049__480.jpg");
    background-size: cover;
    background-position: center;
    width: 116%;
    height: 50%;
    margin-left: 0;
    margin-top: 60px;
    position: relative;

}
.blogContainer h1
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 10px;
}
span
{
    color: darkblue;
}
.blogItem
{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
}
.blogItem h2
{
    color: black;
    font-style: italic;
    margin: 20px 0;
}
.blogItem p
{
    font-size: 22px;
    color: black;
    font-style: italic;
    margin: 20px 10px;
    font-weight: bolder;
}
.blogItem a
{
    font-weight: bolder;
    color: blue;
}
.blogItem li
{
    font-size: 22px;
    color: white;
    margin: 10px 0;
}
.blogItem li:hover{
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 6px;
    width: max-content;
    padding:  5px 10px;
}

#span_p
{
    color: black;
    font-size: 20px;
    text-align: center;
}

#slider_h2{
    color: black;
    text-align: center;
    text-decoration: dashed;
    font-style: italic;
}

.image_slider{
    width: 265px;
    height: 510px;
    position: relative;
    margin: 20px 5px;
      
}
.slider_navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 50px;
    top: 40%;
    left: 10px;
    font-weight: bolder;
  }
  .slider_navigation .next {
    left:  100%;
    position: absolute;
    font-size: 50px;
    z-index: 10;
    top: 40%;
    font-weight: bolder;
  }
  .slider_navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .slider_navigation .nav-btn:hover {
    background: white;
  }

  .carousel {
    margin-top: 20px;
    transition: all 0.5s ease;
    width: 120%;
    height: 500px;  
  }
  .carousel img {
    width: 120%;
    height: 470px;
    transition: all 0.3s ease;
    border:8px solid white;
  }
  
  .item {
    position: absolute;
    display: none;
  }
  
  .slider_main {
    display: block;
  }
  .caption {
    position: absolute;
    width: 112%;
    height: 42px;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
  }
  .caption:hover{
    cursor: pointer;
    color: white;
    font-style: italic;
    background-color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    border-color: whitesmoke;
  }
    
#blog_btn
{
    width: 250px;
    height: 40px;
    color: blue;
    background-color: white;
    border: 2px solid blue;
    cursor: pointer;
    font-size: 25px;
    border-radius: 15px;
    margin: 20px 15%;
}
#blog_btn:hover
{
    border-radius: 20px;
    text-indent: 10px;
    color: white;
    background-color: brown;
    border-color: blueviolet;
    height: 50px;
    width: 280px;
}

    
}


@media (min-width: 321px)  and (max-width: 425px) {
    .blog_navigation
{
    display: none;
      height: auto;
      position: absolute;
      z-index: 1;
      width: 100%;
}
.blog_navigation ul
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.blog_navigation nav {
    text-align: center;
  }

.blog_navigation ul li 
{
    list-style: none;
        padding: 20px 15px;
        font-size: 35px;
        cursor: pointer;
}

.blog_navigation ul li a
{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
#blog_active{
    color: green;
    text-decoration: underline;
}
#blog_active:hover{
    color: white;
}
.blog_navigation ul li a:hover
{
    color: white;
    background-color: black;
    font-size: 30px;
    cursor: pointer;
    font-style: italic;
}

#hamburger {
    display: block;
    width: 100%;
    height: 50px;
  }

#ham, #cross{
    width: 60px;
    height: 60px;
    background-color: white;
    mix-blend-mode: multiply;
    margin-left: 0;
}
#cross {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 2px;
  margin-left: 350px;
}

.blogContainer
{
    
background-image: url("https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049__480.jpg");
    background-size: cover;
    background-position: center;
    width: 147%;
    height: 50%;
    margin-left: 0;
    margin-top: 60px;
    position: relative;

}
.blogContainer h1
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 10px;
}
span
{
    color: darkblue;
}
.blogItem
{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
}
.blogItem h2
{
    color: black;
    font-style: italic;
    margin: 20px 0;
}
.blogItem p
{
    font-size: 26px;
    color: black;
    font-style: italic;
    margin: 10px 10px;
    font-weight: bolder;
}
.blogItem a
{
    font-weight: bolder;
    color: blue;
}
.blogItem li
{
    font-size: 22px;
    color: white;
    margin: 10px 0;
}
.blogItem li:hover{
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 6px;
    width: max-content;
    padding:  5px 10px;
}

#span_p
{
    color: black;
    font-size: 26px;
    text-align: center;
}

#slider_h2{
    color: black;
    text-align: center;
    text-decoration: dashed;
    font-style: italic;
}

.image_slider{
    width: 380px;
    height: 510px;
    position: relative;
    margin: 20px 5px;
      
}
.slider_navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 50px;
    top: 40%;
    left: 10px;
    font-weight: bolder;
  }
  .slider_navigation .next {
    left:  100%;
    position: absolute;
    font-size: 50px;
    z-index: 10;
    top: 40%;
    font-weight: bolder;
  }
  .slider_navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .slider_navigation .nav-btn:hover {
    background: white;
  }

  .carousel {
    margin-top: 20px;
    transition: all 0.5s ease;
    width: 120%;
    height: 500px;  
  }
  .carousel img {
    width: 120%;
    height: 470px;
    transition: all 0.3s ease;
    border:8px solid white;
  }
  
  .item {
    position: absolute;
    display: none;
  }
  
  .slider_main {
    display: block;
  }
  .caption {
    position: absolute;
    width: 112%;
    height: 42px;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
  }
  .caption:hover{
    cursor: pointer;
    color: white;
    font-style: italic;
    background-color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    border-color: whitesmoke;
  }
    
#blog_btn
{
    width: 250px;
    height: 40px;
    color: blue;
    background-color: white;
    border: 2px solid blue;
    cursor: pointer;
    font-size: 25px;
    border-radius: 15px;
    margin: 20px 15%;
}
#blog_btn:hover
{
    border-radius: 20px;
    text-indent: 10px;
    color: white;
    background-color: brown;
    border-color: blueviolet;
    height: 50px;
    width: 280px;
}

    
}