/* Small Mobile Devices CSS Code: */

@media (max-width: 320px)
{
    .contact_navigation{
        display: none;
        position: absolute;
        z-index: 1;
        width: 101%;
        height: auto;
    }
    .contact_navigation nav {
        text-align: center;
      }
    
      #contact_active{
        font-size: 30px;
        color:darkgreen;
        font-family: monospace;
      }

      .contact_navigation ul
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
      .contact_navigation nav li {
        list-style: none;
        padding: 20px 15px;
        font-size: 30px;
        cursor: pointer;
      }
      .contact_navigation nav li a{
        color: black;
      }

    #hamburger {
        display: block;
        width: 100%;
        height: 50px;
      }

    #ham, #cross{
        width: 60px;
        height: 60px;
        margin-top: 10px;
        background-color: white;
        mix-blend-mode: multiply;
    }
    #cross {
      display: none;
      position: absolute;
      z-index: 1;
      margin-top: 2px;
      margin-left: 270px;
    }

    .contactForm
{
    margin-top: 60px;
    width: 110%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contactForm h1
{
    color: white;
}
.form-group
{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.form-group label
{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input
{
    width: 280px;
    height: 40px; 
    text-indent: 3px; 
    font-size: 18px;
}
#form-check
{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 20px;
}
#checkbox_input
{
    width: 40px;
    height: 20px;
    margin: 5px 10px;
}
#form-check label
{
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2px;
}
#textarea_label
{
    margin-left: 10px;
}
#textarea
{
    border: 2px solid black;
    border-radius: 20px;
    font-size: 10px;
    color: white;
    background-color: #232323;
    text-indent: 10px;
}
#emailHelp{
    color: red;
    font-size: 18px;
}
.btn
{
    width: 250px;
    height: 40px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 30px 0;
}
.btn:hover
{
    color: white;
    background-color: blue;
    font-size: 26px;
    font-family: monospace;
    cursor: pointer;
    height: 50px;
}
}

/* Small to Medium Mobile Devices CSS Code: */

@media (min-width: 321px) and (max-width: 425px)
{
    .contact_navigation{
        display: none;
        position: absolute;
        z-index: 1;
        width: 108%;
        height: auto;
    }
    .contact_navigation nav {
        text-align: center;
      }
    
      #contact_active{
        font-size: 30px;
        color:darkgreen;
        font-family: fantasy;
      }

      .contact_navigation ul
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
      .contact_navigation nav li {
        list-style: none;
        padding: 25px 15px;
        font-size: 30px;
        cursor: pointer;
      }
      .contact_navigation nav li a{
        color: black;
      }

    #hamburger {
        display: block;
        width: 100%;
        height: 50px;
      }

    #ham, #cross{
        width: 60px;
        height: 60px;
        margin-top: 10px;
        background-color: white;
        mix-blend-mode: multiply;
    }
    #cross {
      display: none;
      position: absolute;
      z-index: 1;
      margin-top: 2px;
      margin-left: 350px;
    }

    .contactForm
{
    margin-top: 60px;
    width: 108%;
    height: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    
}
.contactForm h1
{
    color: white;
}
.form-group
{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: center;
}
.form-group label
{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input
{
    width: 280px;
    height: 40px; 
    text-indent: 3px; 
    font-size: 18px;
}
#form-check
{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 20px;
}
#checkbox_input
{
    width: 40px;
    height: 20px;
    margin: 5px 10px;
}
#form-check label
{
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2px;
}
#textarea_label
{
    margin-left: 10px;
}
#textarea
{
    border: 2px solid black;
    border-radius: 20px;
    font-size: 10px;
    color: white;
    background-color: #232323;
    text-indent: 10px;
}
#emailHelp{
    color: brown;
    font-size: 18px;
}
.btn
{
    width: 250px;
    height: 40px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 30px 0;
}
.btn:hover
{
    color: white;
    background-color: blue;
    font-size: 26px;
    font-family: monospace;
    cursor: pointer;
    height: 50px;
}
}

@media (min-width: 426px) and (max-width: 768px)
{
       .contact_navigation{
        display: none;
        position: absolute;
        z-index: 1;
        width: 108%;
        height: auto;
        background-color: #d7dee9;;
    }
    .contact_navigation nav {
        text-align: center;
      }
    
      #contact_active{
        font-size: 30px;
        color:darkblue;
        font-family: fantasy;
      }

      .contact_navigation ul
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
      .contact_navigation nav li {
        padding: 30px 20px;
    }
    .contact_navigation nav li a{
        color: black;
        font-size: 40px;
      }

    #hamburger {
        display: block;
        width: 100%;
        height: 50px;
    }
    
    #ham, #cross{
        width: 75px;
        height:75px;
        margin-top: 10px;
        background-color: white;
        mix-blend-mode: multiply;
    }
    #cross {
      display: none;
      position: absolute;
      z-index: 1;
      margin-top: -15px;
      margin-left: 92%;
    }

    .contactForm
{
    margin-top: 80px;
    width: 110%;
    height: auto;
}
.contactForm h1
{
    color: #b0c8e7;
}
.form-group
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: flex-start;
    align-items: center;
}
.form-group label
{
    color: black;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.form-group input
{
    width: 490px;
    height: 65px;
    text-indent: 10px;
    font-size: 25px;
    border-radius: 15px;
    border-color: black;
}
#form-check
{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 20px;
}
#checkbox_input
{
    width: 60px;
    height: 40px;
    margin: 7px 6px;
}
#form-check label
{
    color: darkblue;
    font-size: 45px;
    font-weight: 900;
    margin-top: 2px;
}
#textarea_label
{
    margin-left: 10px;
}
#textarea
{
    border: 2px solid black;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background-color: #232323;
    text-indent: 10px;
}
#emailHelp{
    color: greenyellow;
    font-size: 25px;
}
.btn
{
    width: 350px;
    height: 50px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 25px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 30px 0;
}
.btn:hover
{
    color: whitesmoke;
    background-color: wheat;
    font-size: 26px;
    font-family: monospace;
    cursor: pointer;
    height: 50px;
}

}
