/* This media query is only for Home Screen page */


/* This is for Laptop or Desktop Media Query */

@media screen and (min-width: 1024px) {
  .container {
    background-color: grey;
  }
  .navigation {
    display: block;
  }
  #hamburger {
    display: none;
  }
  
}

/* Large Mobile phones Media Query  */

@media (min-width: 769px) and (max-width: 1023px) {
  .navigation {
    display: none;
    height: auto;
  }

  .navigation nav {
    padding: 30px 0;
    text-align: center;
  }
  #hamburger {
    display: block;
    margin-left: 91%;
    margin-top: 10px;
  }
  #cross {
    display: none;
  }

  .main {
    width: 100%;
  }
  .infoContainer {
    background-color: rgb(67, 7, 7);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .devInfo {
    display: block;
    margin: 10px auto;
    position: relative;
  }

  .hello {
    margin: 60px 15px;
    display: block;
  }
  .hello_intro {
    font-size: 40px;
    font-weight: bold;
    color: grey;
  }
  .hello_name {
    font-size: 25px;
    font-weight: bold;
    color: darkblue;
    font-family: "Courier New", Courier, monospace;
  }
  .hello_about {
    font-size: 22px;
    color: white;
  }
  .hello_moreAbout {
    font-size: 30px;
  }

  .devPic img {
    width: 100%;
    height: auto;
    padding: 20% 25%;
    position: absolute;
    top: 22%;
    margin-left: -56%;
  }
  .info_btns {
    display: flex;
    justify-content: space-between;
    margin: 92% 10%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .navigation {
    display: none;
    position: absolute;
    z-index: 1;
    width: 103%;
    height: auto;
    background-color: white;
  }

  .navigation nav {
    text-align: center;
  }

  #active{
    font-size: 30px;
    color: grey;
    font-family: monospace;
  }
  .navigation nav li {
    list-style: none;
    padding: 35px 18px;
    font-size: 30px;
    cursor: pointer;
  }
  .navigation nav li a{
    color: black;
  }

  #hamburger {
    display: block;
    width: 100%;
    height: 50px;
  }

  #ham, #cross{
    width: 70px;
    height: 70px;
      margin: 30px 0;
      background-color: white;
      mix-blend-mode: multiply;
  }
  #cross {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: -12px;
    margin-left: 90%;
  }

  .main {
    width: 100%;
    height: auto;
  }
  .infoContainer {
    background-image: url("https://i.gifer.com/BXe0.gif");
    width: 103%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hello {
    margin: 105px 20px;
  }
  .hello_intro {
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  .hello_name {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    font-family: "Courier New", Courier, monospace;
  }
  .hello_about {
    font-size: 23px;
    color: white;
  }
  .hello_moreAbout {
    font-size: 22px;
    color: white;
  }
  #quote_p{
    font-size: 22px;
    color: deepskyblue;
  }

  .devPic{
    width: 90%;
    height: 55%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    position: absolute;
    margin-top: -50%;
    margin-left: 4%;
    margin-bottom: 40px;
}
  .devPic img {
    width: 95%;
    height: 90%;
    margin-left: 5%;
    margin-top: 4%;
    border-radius: 15%;
  }


  .info_btns {
    display: flex;
    flex-direction: column;
    margin: 100% 20%;
  }

  .info_btns button {
    width: 350px;
    height: 60px;
    margin: 30px -50px;
    cursor: pointer;
    font-size: 30px;
  }
  .social_platforms{
    width: 103%;
    height: 600px;
    background-color: #e2eaf1;
    margin-top: 0;
}
.social_platforms p{
  color: black;
  font-size: 27px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
  margin-top: 0;
  line-height: 1.1;
  font-style: italic;
  font-weight: bold;
}
.social_platforms p:hover{
    color: rgb(1, 28, 1);
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    cursor: pointer;
}
.social_icons{
    display: flex;
    width: 100%;
    height: 50px;
}
.fa-brands{
  font-size: 40px;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 30px;
}
.fa-brands:hover{
    color:darkblue;
}
}

/* Small and Medium Mobile phones Media Query */

@media (min-width: 321px) and (max-width: 425px) {
  .navigation {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    background-color: rgb(60 72 83);

  }

  .navigation nav {
    text-align: center;
  }

  #active{
    font-size: 35px;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .navigation nav li {
    list-style: none;
    padding: 38px 20px;
    font-size: 35px;
    cursor: pointer;
  }
  .navigation nav li a{
    color: white;
  }
  #hamburger {
    display: block;
    width: 100%;
    height: 50px;
  }

#ham, #cross{
    width: 60px;
    height: 60px;
    background-color: white;
    mix-blend-mode: multiply;
    margin-left: 0;
}
#cross {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 2px;
  margin-left: -10px;
}
  .main {
    width: 100%;
    height: auto;
  }
  .infoContainer {
    background-color: darkgrey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
  }

  .hello {
    display: block;
    margin: 80px 10px;
  }
  .hello_intro {
    font-size: 30px;
    color: black;
  }
  .hello_name {
    font-size: 28px;
  }
  .hello_about {
    font-size: 26px;
    color: black;

  }
  .hello_moreAbout {
    font-size: 21px;
    color: #080e11;
  }
  #quote_p{
    font-style: italic;
    font-size: 20px;
  }

  .devPic{
    width: 91%;
    height: 50%;
    background-color: #555;
    border-top-right-radius: 36%;
    border-bottom-left-radius: 36%;
    position: absolute;
    margin-top: 20%;
    margin-left: 3%;
    margin-bottom: 60%;

}
  .devPic img {
    width: 90%;
    height: 90%;
    margin-left: 6%;
    margin-top: 5%;
    border-radius: 40px;
  }


  .info_btns {
    display: flex;
    flex-direction: column;
    margin: 105% 15%;
  }

  .info_btns button {
    width: 260px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
  }
  .social_platforms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-color: #838a90;
    margin-top: -100%;
}
.social_platforms p{
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-top: -45%;
}
.social_platforms p:hover{
    color: darkgreen;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    cursor: pointer;
}
.social_icons{
    display: flex;
    width: 100%;
    height: 50px;
}
.fa-brands{
    font-size: 45px;
    cursor: pointer;
    margin-top: 25px
}
.fa-brands:hover{
    color: brown;
}
}


/* Media Query for small devices (max-width = 320px) */

@media (max-width: 320px) {
  .navigation {
    display: none;
    height: auto;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: lightslategray;
  }

  .navigation nav {
    text-align: center;
  }

  #active{
    font-size: 30px;
    color: darkgreen;
    font-family: monospace;
  }
  .navigation nav li {
    list-style: none;
    padding: 30px 15px;
    font-size: 30px;
    cursor: pointer;
  }
  .navigation nav li a{
    color: white;
  }
  #hamburger {
    display: block;
  }
  #ham{
    mix-blend-mode: multiply;
  }
  #cross {
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: -10px;
    mix-blend-mode: multiply;
  }

  .main {
    width: 100%;
    height: auto;
     }
  .infoContainer {
    background-color: darkgrey;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hello {
    display: block;
    margin: 90px 15px;
  }
  .hello_intro {
    font-size: 35px;
    color: black;
  }
  .hello_name {
    font-size: 30px;
  }
  .hello_about {
    font-size: 28px;
    color: black;

  }
  .hello_moreAbout {
    font-size: 25px;
    color: #080e11;
  }
  .devPic{
    width: 280px;
    height: 60vh;
    background-color: #555;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: absolute;
    margin-top: 0%;
    margin-left: 4%;

}
  .devPic img {
    width: 250px;
    height: 46vh;
    padding: 0px;
    margin-left: 16px;
    margin-top: 40px;
    border-radius: 36px; 
 }

  .info_btns {
    display: flex;
    flex-direction: column;
    margin: 400px 5%;
  }

  .info_btns button {
    width: 250px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
  }
  .social_platforms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-color: #838a90;
    margin-top: -100%;
}
.social_platforms p{
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-top: -45%;
}
.social_platforms p:hover{
    color: white;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    cursor: pointer;
}
.social_icons{
    display: flex;
    width: 100%;
    height: 50px;
}
.fa-brands{
  font-size: 42px;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 30px;
}
.fa-brands:hover{
    color: brown;
}
}
