/* For small devices. */
@media (max-width: 320px) {
    .container{
        width: 100%;
        height: auto;
    }
    .navigation {
      display: none;
      height: auto;
      position: absolute;
      z-index: 1;
      width: 100%;
    }
  
    .navigation nav {
      text-align: center;
    }
  
    #active{
      font-size: 30px;
      color: darkgray;
      font-family: monospace;
    }
    .navigation nav li {
      list-style: none;
      padding: 30px 15px;
      font-size: 30px;
      cursor: pointer;
    }
    .navigation nav li a{
      color: grey;
    }
    #hamburger {
      display: block;
      background-color: white;
      width: 100%;
      height: 50px;
    }
    #ham, #cross{
        width: 60px;
        height: 60px;
        /* margin-top: 5px; */
        mix-blend-mode: multiply;
    }
    #cross {
      display: none;
      position: absolute;
      z-index: 1;
      margin-top: 2px;
      margin-left: 260px;
    }

    .introContainer{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       margin-top: 60px;
   
    }
    .intro_info h1
{
    color: blue;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
   
}
.intro_info p
{
    color: black;
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    margin: 20px;
}
.intro_info p:hover
{
    color: white;
    cursor: pointer;
    font-size: 22px;
}
.intro_info li
{
    font-size: 22px;
    color: blue;
    background-color: whitesmoke;
    font-style: italic;
    font-weight: bold;
    list-style-position: inside;
    text-align: center;
    margin: 15px 40px;
    border-radius: 15px;
}
.intro_info li:hover
{
    color: white;
   background-color: black;
    font-size: 30px;
    cursor: pointer;
}

.skills_Container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.skills_Container h1
{
    color: white;
    background-color: black;
    width: 250px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}
.skills_Container h1:hover
{
    width: 300px;
    color: red;
    background-color: gray;
    height: 45px;
    text-indent: 8px;
    padding-top: 8px;
    cursor: pointer;
}

.skill_progress
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;

}


#html, #css, #js, #bootstrap, #java, #Python, #Ps
{
    width: 220px;
    height: 30px;
    border: 2px solid rgb(21, 17, 17);
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 2px;
}
#html, #css, #js, #bootstrap, #java, #Python, #Ps progress
{
    font-size: 20px;
}



.skill_progress li
{
    font-size: 25px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    list-style: circle;
    list-style-position: inside;
}

.skill_progress li:hover
{
    color: black;
    background-color: white;
    list-style: none;
    font-weight: 900;
    cursor: pointer;
}
}

@media (min-width: 321px) and (max-width: 425px)
{
    .navigation {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: auto;
        background-color: antiquewhite;
      }
    
      .navigation nav {
        text-align: center;
      }
    
      #active{
        font-size: 30px;
        color: grey;
        font-family: monospace;
      }
      .navigation nav li {
        list-style: none;
        padding: 35px 18px;
        font-size: 30px;
        cursor: pointer;
      }
      .navigation nav li a{
        color: black;
      }
      #hamburger {
        display: block;
        width: 100%;
        height: 50px;
      }

      #ham, #cross{
          width: 60px;
          height: 60px;
          margin-top: 10px;
          background-color: white;
          mix-blend-mode: multiply;
      }
      #cross {
        display: none;
        position: absolute;
        z-index: 1;
        margin-top: 2px;
        margin-left: 370px;
      }
      .introContainer{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   
    }
    .intro_info h1
{
    color: black;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    margin-top: 70px;
   
}
.intro_info p
{
    color: black;
    font-style: italic;
    font-size: 28px;
    font-weight: bolder;
    margin: 20px;
}
.intro_info p:hover
{
    color: white;
    cursor: pointer;
    font-size: 28px;
}
.intro_info li
{
    font-size: 22px;
    color: blue;
    background-color: whitesmoke;
    font-style: italic;
    font-weight: bold;
    list-style-position: inside;
    text-align: center;
    margin: 15px 40px;
    border-radius: 15px;
}
.intro_info li:hover
{
    color: white;
   background-color: black;
    font-size: 30px;
    cursor: pointer;
}
.skills_Container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.skills_Container h1
{
    color: white;
    background-color: black;
    width: 250px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}
.skills_Container h1:hover
{
    width: 300px;
    color: red;
    background-color: gray;
    height: 45px;
    text-indent: 8px;
    padding-top: 8px;
    cursor: pointer;
}

.skill_progress
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;

}


#html, #css, #js, #bootstrap, #java, #Python, #Ps
{
    width: 300px;
    height: 30px;
    border: 2px solid rgb(21, 17, 17);
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 2px;
}
#html, #css, #js, #bootstrap, #java, #Python, #Ps progress
{
    font-size: 20px;
    margin-top: 5px;
}



.skill_progress li
{
    font-size: 28px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    list-style: square;
    list-style-position: inside;
}

.skill_progress li:hover
{
    color: black;
    background-color: white;
    list-style: none;
    font-weight: 900;
    cursor: pointer;
}

}