@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Sans&family=Open+Sans&family=Ubuntu:ital,wght@0,500;1,300;1,400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
.container
{
    display: flex;
}
.navigation
{
    /* background-color: #454447; */
    font-family: 'fira-sans',sans-serif;
    height: 100vh;
}
.navigation nav
{
    padding: 30px;
}
.navigation nav li
{
    list-style: none;
    padding: 25px 0;
    font-size: 25px;
    cursor: pointer;
}

.navigation nav li a
{
    text-decoration: none;
    color: black;
}

.navigation nav li a:hover
{
    text-decoration: underline;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

#active
{
    color: burlywood;
    text-decoration: underline;
    font-size: 30px;
    font-style: italic;
}

#hamburger
{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
#ham, #cross
{
    width: 60px;
    height: 60px;
    background-color: none;
    margin-left: 1px;
}
#cross
{
    margin-left: 50px;
}

.main
{
    width: 90vw;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}
.infoContainer
{
    background-color: rgb(21, 17, 17);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.devInfo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
}
.hello
{
     margin-left: 20px;
}
.hello_intro
{
    font-size: 70px;
    font-weight: bold;
    color: grey;
}
.hello_name
{
    font-size: 50px;
    font-weight: bold;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
}


.hello_about
{
    font-size: 25px;
    color: white;
}
#hello_about_def::after
{
    content: "";
    animation-name: Mukii;
    animation-duration: 15s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes Mukii {
    0%
    {
     content: "CS Student";
     color: black;
    }
 
    20%
    {
     content: "Web Designer";
     color: darkblue;
    }
    40%
    {
     content: "Front-end Developer";
     color: darkgreen ;
 
    }
    60%
    {
     content: "Back-end Developer";
     color: brown
    }
 
    80%
    {
     content: "Programmer";
     color: darkgoldenrod;
    }
 
 
    100%
    {
     content: 'Problem Solver';
     color: blueviolet;
 
    }
 
 }
.hello_moreAbout
{
    font-size: 22px;
    margin-top: 20px;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
#quote_p{
    font-size: 22px;
    color: darkblue;
}
.devPic{
    width: 400px;
	height: 60vh;
	background: #555;
    transform: translateY(50px);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 20px;

}
.devPic img
{
    height: 55vh;
    width: 390px;
    border-radius: 20%;
    margin-top: 10px;
    margin-left: 8px;
    padding: 15px;
}
.info_btns
{
    display: flex;
}
.info_btns button
{
    width: 300px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 16px;
    border: 2px solid white;
    margin: 30px 10px;
    cursor: pointer;
    font-size: 22px;
}
.info_btns button:hover
{
    color: white;
    background-color: darkblue;
    border: 2px solid grey;
}

.social_platforms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: lightgrey;
}
.social_platforms p{
    color: black;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-bottom: 10px;
}
.social_platforms p:hover{
    color: rgb(37, 2, 2);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    cursor: pointer;
}
.social_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.social_icons a{
    text-decoration: none;
}

.fa-brands{
    font-size: 40px;
    cursor: pointer;
    margin-left: 30px;
}
.fa-brands:hover{
    color: darkblue;
}

/* Contact page CSS */

.contact_navigation{
    width: 98%;
    height: 75px;
    /* background-color: lightblue; */
    background-color: #e2e1f3;
    margin: 0 5px;
}
.contact_navigation ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact_navigation ul li 
{
   margin:  0 15px;
    padding-top: 20px;
    list-style: none;
}

.contact_navigation ul li a
{
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}
.contact_navigation ul li a:hover
{
    color: white;
    background-color: black;
    font-size: 30px;
    cursor: pointer;
    font-style: italic;
}
#contact_active{
    color: blueviolet;
    text-decoration: underline;
}
#contact_active:hover{
    color: white;
}
.contactForm
{
    /* background-image: url("https://media.istockphoto.com/photos/the-perfect-setting-to-complete-work-picture-id1251629816?s=2048x2048"); */
    /* background-image: url("https://img.freepik.com/premium-photo/contact-us-customer-support-hotline-people-connect-call-customer-support-email-address-live-chat-internet-wifi_36325-3415.jpg?w=2000"); */
    background-image: url("https://media.istockphoto.com/id/1311934969/photo/contact-us.jpg?b=1&s=170667a&w=0&k=20&c=2sJEN1Hhg6heUi1ZxKs6pJDwcyLYXPc4pUGd3hEjOjE=");
    background-size: cover;
    background-position: center;
    width: 98vw;
    height: 100%;
    overflow: hidden;
    margin: 0 5px;
}

.contactForm h1
{
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
}
.contactForm form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form-group
{
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}
.form-group label
{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input
{
    width: 500px;
    height: 40px; 
     text-indent: 10px; 
    font-size: 25px;
}
#form-check
{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 5px;
}
#checkbox_input
{
    width: 40px;
    height: 20px;
    margin: 0 10px;
}
#form-check label
{
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
    margin-top: -8px;
}
#textarea_label
{
    margin-left: 40px;
}
#textarea
{
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: #232323;
    text-indent: 10px;
}
#emailHelp{
    color: red;
}
.btn
{
    width: 250px;
    height: 40px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 30px 0;
}
.btn:hover
{
    color: white;
    background-color: blue;
    font-size: 26px;
    font-family: monospace;
    cursor: pointer;
    height: 50px;
}

#emailHelp
{
    font-size: 20px;
    color: red;
}

/* Blog Page CSS Code: */

.blog_navigation
{
    width: 100%;
    height: 70px;
    /* background-color: lightblue; */
    background-color: #C5C5C3;
}
.blog_navigation ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blog_navigation ul li 
{
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    list-style: none;
}

.blog_navigation ul li a
{
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}
#blog_active{
    color: green;
    text-decoration: underline;
}
#blog_active:hover{
    color: white;
}
.blog_navigation ul li a:hover
{
    color: white;
    background-color: black;
    font-size: 30px;
    cursor: pointer;
    font-style: italic;
}
.blogContainer
{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    background-image: url("https://img.freepik.com/premium-photo/four-wooden-blocks-with-letters-blog-bright-surface-gray-table-business-concept_384017-3526.jpg?w=2000");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 50%;
    margin-left: 50px;
    overflow-x: hidden;
    background-repeat: no-repeat;
}
.blogContainer h1
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    text-transform: capitalize;
}
span
{
    color: blue;
}
.blogItem
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0;
}
.blogItem h2
{
    color: black;
    font-style: italic;
    margin: 20px 0;
}
.blogItem p
{
    font-size: 25px;
    color: darkblue;
    font-style: italic;
    margin: 20px 10px ;
}
.blogItem a
{
    color: black;
}
.blogItem li
{
    font-size: 30px;
    color: #18293f;
    margin: 10px 0;
}
.blogItem li:hover{
    /* color: #DEC0A0;
    background-color: #40382F; */
    color: #40382F;
    background-color: #DEC0A0;
    cursor: pointer;
    border: 2px solid #40382F;
    border-radius: 15px;
    width: max-content;
    padding:  5px 10px;
}

#span_p
{
    color: black;
    font-size: 30px;
    margin-top: -1%;
    text-align: center;
}

#slider_h1{
    color: black;
    text-align: center;
    text-decoration: dashed;
    font-style: italic;
    text-align: center;
}

.image_slider{
       width: 100%;
    height: 50%;
    position: relative;
	display:block;
    margin: 20px auto;
}
.slider_navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 30px;
   top: 36%;
    left: 44px;
    font-weight: bolder;
  }
  .slider_navigation .next {
    left:  99%;
    position: absolute;
    font-size: 30px;
    z-index: 10;
    top: 36%;
    font-weight: bolder;
  }
  .slider_navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .slider_navigation .nav-btn:hover {
    background: white;
  }

  .carousel {
   margin: 40px;
    transition: all 0.3s ease;
    width: 100%;
    height: 80%;
    border: 1px solid black;
  }
  
  .item {
    position: absolute;
    display: none;
  }
  
  .slider_main {
    display: block;
	  position: relative;
  }
 .item > img {
 width: 85%;
    height: 0%;
    margin: 5% 8%;
    transition: all 0.3s ease;
    border:8px solid white;
  }
  .caption {
/*    position: absolute; */
   width: 50%;
    height: 50px;
    margin: 5px 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
  }
  .caption:hover{
    cursor: pointer;
    color: white;
    font-style: italic;
    background-color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    border-color: whitesmoke;
  }
    
#blog_btn
{
    width: 300px;
    height: 40px;
    color: darkblue;
    background-color: white;
    border: 2px solid blue;
    cursor: pointer;
    font-size: 25px;
    border-radius: 15px;
    margin: 20px 40%;
}
#blog_btn:hover
{
    border-radius: 20px;
    text-indent: 10px;
    color: white;
    background-color: brown;
    border-color:whitesmoke;
    height: 50px;
    width: 320px;
}

/* intro Page CSS Code: */
.introContainer
{
    width: 100%;
    height: 250vh;
    /* background-image: url("https://us.123rf.com/450wm/peshkov/peshkov1506/peshkov150600008/41023430-blank-black-diary-and-accessories.jpg?ver=6"); */
    background-image: url("intro\ bg.jpg");
    /* background-image: url("/intro\ bg\ 1.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.intro_info h1
{
    color: blueviolet;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
   
}
.intro_info p
{
    color: black;
    font-style: italic;
    font-size: 25px;
    font-weight: bolder;
    margin: 20px;
}
.intro_info p:hover
{
    color: white;
    cursor: pointer;
    font-size: 28px;
}
.intro_info li
{
    font-size: 28px;
    color: blue;
    background-color: whitesmoke;
    font-style: italic;
    font-weight: bold;
    list-style-position: inside;
    text-align: center;
    margin: 10px;
}
.intro_info li:hover
{
    color: white;
   background-color: black;
    font-size: 30px;
    cursor: pointer;
}

.skills_Container
{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.skills_Container h1
{
    color: white;
    background-color: black;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}
.skills_Container h1:hover
{
    width: 350px;
    color: brown;
    background-color: grey;
    height: 50px;
    text-indent: 10px;
    padding-top: 8px;
    cursor: pointer;
}

.skill_progress
{
    display: flex;
    margin: 20px;

}


#html, #css, #js, #bootstrap, #java, #Python, #Ps
{
    width: 280px;
    height: 30px;
    border: 2px solid rgb(21, 17, 17);
    background-color: white;
    margin-left: 15px;
    border-radius: 10px;
    padding-left: 4px;
}
#html, #css, #js, #bootstrap, #java, #Python, #Ps progress
{
    font-size: 24px;
}



.skill_progress li
{
    font-size: 30px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    list-style: circle;
    list-style-position: inside;
    padding: 0;
}

.skill_progress li:hover
{
    color: black;
    background-color: white;
    list-style: none;
    font-weight: 900;
    cursor: pointer;
}

/* Services CSS Code Below */

.project_navigation
{
    width: 100%;
    height: 90px;
    background-color: black;
}
.project_navigation ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.project_navigation ul li 
{
    margin-left: 30px;
    padding-top: 30px;
    padding-right: 20px;
    list-style: none;
}

.project_navigation ul li a
{
    color: white;
    font-size: 30px;

    text-decoration: none;
}

.project_navigation ul li a:hover
{
    color: blueviolet;
    background-color: white;
}
.projectsContainer
{
    display: flex;
    flex-direction: column;
}
.projectsContainer h1
{
    margin: 20px 0;
    color: rgb(58, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
}
.boxContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px;
}
.box
{
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    background-color: grey;
    border-radius: 20px;
}
.box img
{
    width: 396px;
    height: 300px;
    border-radius: 20px;
    
}
.box p
{
    font-size: 26px;
    color: brown;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.box p:hover
{
    color: blue;
    text-decoration: wavy;
    font-size: 30px;
    cursor: pointer;
}
#services_p
{
    color: black;
    font-family: fantasy;
    font-size: 26px;
    margin-left: 50px;
}
#services_ol li
{
    font-size: 28px;
    margin: 30px;
    color: gray;
    text-align: center;
    list-style-position: inside;
    font-family: Arial, Helvetica, sans-serif;
}
#services_ol li:hover
{
    color: darkslategrey;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}
#services_p span
{
    color: red;
    font-size: 30px;
}
